.jumbotron {
    background: url(../assest/pexels-photo-414645.jpeg);
    background-size: cover;
    height: 100vh;
    color: var(--egg);
}

.jumbo-conatiner{
    padding-top: 25%;
}

.jumbo-header{
    font-family: var(--font-one);
    font-size: 75px;
}

.jumbo-para{
    font-size: 25px;
    font-weight: bold;
}