body{
    background-color: rgb(0, 109, 128);
}

img{
    max-width: 250px;
    max-height: 250px;
    border-radius: 50%;
}
#header{
    display: flex;
    height: 570px;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    height: 100%;
 
}

.container > div:nth-child(1){
    flex: 1;

}

.container > div:nth-child(2){
    flex: 3;

}


ul{
    list-style-type: none;
}

img {
    cursor: grabbing;
}

